In [110]:
# Import required libraries
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
from bs4 import BeautifulSoup
import pandas as pd
from textblob import TextBlob

In [111]:
def comment_type(comment):
    analysis = TextBlob(comment)

    if analysis.sentiment.polarity > 0:
        return 'Positive'
    elif analysis.sentiment.polarity == 0: 
        return 'Neutral'
    else:
        return 'Negative'

In [112]:
rating_list = []
review_title_list = []
review_discription_list = []

In [113]:
driver = webdriver.Chrome()

driver.get("https://www.flipkart.com/apple-iphone-16-black-128-gb/product-reviews/itmb07d67f995271?pid=MOBH4DQFG8NKFRDY&lid=LSTMOBH4DQFG8NKFRDYNBDOZI&marketplace=FLIPKART")

In [114]:
for page in range(1, 15):
    time.sleep(3)
    soup = BeautifulSoup(driver.page_source, 'html.parser')

    for html in soup.select('div.Ma1fCG'):
        start_rating = html.select_one('div.XQDdHH').text
        rating_list.append(start_rating)

        review_title = html.select_one('p.z9E0IG').text
        review_title_list.append(review_title)

        review_discription = html.select_one('div.ZmyHeo').text
        review_discription_list.append(review_discription)
        
    next_button = driver.find_element(By.XPATH, "//span[text()='Next']").click()

driver.quit()

In [115]:

df = pd.DataFrame({
    'Rating': rating_list, 
    'Review Title': review_title_list, 
    'Review Description': review_discription_list
})
df['Review Description'].replace(regex=r'READ MORE$', value='', inplace=True)
df['Comment_type'] = df['Review Description'].apply(func=comment_type)
df.to_csv('flipkart_iphone_reviews.csv', index=False)

C:\Users\bhawa\AppData\Local\Temp\ipykernel_26940\3041497905.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Review Description'].replace(regex=r'READ MORE$', value='', inplace=True)

In [116]:
df

,Rating,Review Title,Review Description,Comment_type
0,5,Mind-blowing purchase,Super and cool photo,Positive
1,5,Wonderful,such a beautiful color ü©∑ü•∫üòç,Positive
2,5,Mind-blowing purchase,I love it ‚ù§Ô∏è‚ù§Ô∏è,Positive
3,5,Fabulous!,"Upgraded from 12 to 16,",Neutral
4,5,Super!,Satisfied,Positive
...,...,...,...,...
108,5,Super!,number one,Neutral
109,5,Terrific,Must buy on bbd sale,Neutral
110,5,Wonderful,Iphone 16 its much better for other iPhone,Positive
111,5,Just wow!,Perfect phone but design is not up to the mark...,Positive
112,5,Highly recommended,Awsm performance,Neutral

In [117]:
df['Comment_type'].value_counts()

Comment_type
Positive    95
Neutral     13
Negative     5
Name: count, dtype: int64

In [118]:
df[df['Comment_type'] == 'Negative']

,Rating,Review Title,Review Description,Comment_type
41,4,Horrible,Battery gets drain in 6-7 hr with even just no...,Negative
51,5,Excellent,Its a fake details I haven't ordered Any Phone...,Negative
57,5,Highly recommended,Bad camera quality at this range. Go for samsu...,Negative
80,5,Awesome,The display is absolutely crazy and also I can...,Negative
84,5,Utterly Disappointed,After 1 day using . My phn is heating up . Rea...,Negative