In [203]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [204]:
df = pd.DataFrame({
    "age" : [25, 15, 30, 35, 40, 45, 50, 55, 60, 65],
    "communication_skill" : [8, 6, 7, 9, 8, 7, 9, 10, 9, 8],
    "iq" : [120, 110, 115, 130, 125, 118, 135, 140, 138, 132],
    "salary" : [38000, 36000, 42000, 45000, 50000, 55000, 60000, 65000, 70000, 75000]}
)

In [205]:
liner_model = LinearRegression()

In [206]:
X = df[["age", "communication_skill", "iq"]]   # independent variable (features)
y = df["salary"]  # dependent variable (target)

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [207]:

model = liner_model.fit(x_train, y_train)

In [209]:
y_pred = model.predict(x_test)

In [210]:
y_test

8    70000
1    36000
5    55000
Name: salary, dtype: int64

In [211]:
y_pred

array([68932.82312925, 25722.78911565, 57175.17006803])

In [212]:
mean_absolute_error(y_test, y_pred)

4506.519274376424

In [213]:
test_df = pd.DataFrame({
    "age": x_test["age"],
    "iq": x_test["iq"],
    "communication_skill": x_test["communication_skill"],
    "Actual Salary": y_test,
    "Predicted Salary": y_pred
})
test_df

   age   iq  communication_skill  Actual Salary  Predicted Salary
8   60  138                    9          70000      68932.823129
1   15  110                    6          36000      25722.789116
5   45  118                    7          55000      57175.170068

In [214]:
train_df = pd.DataFrame({
    "age": x_train["age"],  
    "iq": x_train["iq"],
    "communication_skill": x_train["communication_skill"],
    "Actual Salary": y_train
})

In [215]:
df.to_excel('sample.xlsx')